**/*~
**/private/**
**/.jacocoverage/**
**/jacoexec*
/statestack/build/
/gumballs/solution/olifantysballs/build/
gumballs/sen1_gumballnotes.html
/mavenstatestack/nbproject/
/mavenstatestack/target/
/workshop/dist/
/workshop/build/
/statewalker/dist/
/statewalker/build/
/clockradio/*.aux
/clockradio/*.log
/clockradio/clockdoc.pdf


