**/*~
**/private/**
**/.jacocoverage/**
/statestack/build/
/gumballs/solution/olifantysballs/build/
gumballs/sen1_gumballnotes.html
/mavenstatestack/nbproject/
/mavenstatestack/target/
/workshop/dist/
/workshop/build/
/statewalker/dist/
/statewalker/build/
/statewalker/jaco-exec*
/clockradio/*.aux
/clockradio/*.log
/clockradio/clockdoc.pdf


/radio/build/
/statewalkermvn/nbproject/
/statewalkermvn/target/